{% load static %}
<li class="nav-item dropdown user-menu">
    {% if user.is_authenticated %}
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <!-- <img src="{% static 'admin-lte/assets/img/user2-160x160.jpg' %}" class="user-image rounded-circle shadow" alt="User Image" /> -->
        <span class="d-none d-md-inline">{{request.user.get_full_name|default:request.user}}</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
        {% if request.user.is_superuser %}
        <li>
            <a class="dropdown-item" href="/admin/">
                admin
            </a>
        </li>
        <li>
            <a class="dropdown-item modal-link" href="{% url 'fakelogin:modal' %}">
                fakelogin
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        {% endif %}
        <li>
            <a class="dropdown-item" href="{% url 'app_base:logout' %}">
                <span>Выход</span>
            </a>
        </li>
    </ul>
    {% else %}
    <a class="nav-link modal-link" href="{% url 'app_base:login-modal' %}">
        Вход
    </a>
    {% endif %}
</li>