<li class="nav-item d-none d-md-block">
    <a href="/" class="nav-link">Home</a>
</li>
<!-- <form class="navbar-search d-none d-md-block ms-3" role="search" action="./pages/search-results.html">
    <label for="navbar-search-input" class="visually-hidden">Search</label>
    <div class="navbar-search-field">
        <input type="search" id="navbar-search-input" name="q" class="form-control" placeholder="Search…"
            autocomplete="off" style="margin-top: 4px;">
        <button class="navbar-search-submit" type="submit" aria-label="Submit search">
            <i class="bi bi-search" aria-hidden="true"></i>
        </button>
    </div>
</form> -->