<style>
    .py-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        outline: none !important;
        box-shadow: none !important;
    }

    .count_delimiter {
        border-left-width: 1px;
        border-left-style: solid;
        padding-left: 0.5rem;
        margin-left: 0.5rem;

    }

    /* {# Когда меню свернуто #} */
    .sidebar-collapse .logo-expanded {
        display: none;
    }

    .sidebar-collapse .logo-collapsed {
        display: inline-block;
    }

    /* {# Когда меню развернуто #} */
    .sidebar-open .logo-collapsed {
        display: none;
    }

    .sidebar-open .logo-expanded {
        display: inline-block;
    }

    .form-control-disabled {
        background-color: var(--bs-secondary-bg);
    }

    .sp_color {
        background-color: rgb(9, 61, 119) !important;
    }
</style>